<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body onload="load()">
    <div class="logo-small">
        <img src="{{ url_for('static', filename='images/farmbnb_logo.png') }}" alt="FarmBnB Logo">
    </div>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/farms">Farms</a></li>
            <li class="nav-item"><a href="/subscriptions">Subscriptions</a></li>
            <li class="nav-item"><a href="/bookings">Bookings</a></li>
            <li class="nav-item"><a href="/profile">Profile</a></li>
        </ul>
    </nav>

    <header class="header">
        <h1>Book Farm</h1>
    </header>

    <div class="farm-container">
        <div class="farm-details-container">
            <div class="farm-deets">
                <div class="farm-image">
                    <img src="{{ url_for('static', filename='images/farm_placeholder.png') }}" alt="Farm Image">
                </div>
                <div class="farm-details" id="farm-details">
                </div>
            </div>
        </div>
        <div class="booking-details">
            <h2>Booking Details</h2>
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date">
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date">
            <p>Total Price: <span id="total-price">₹0</span></p>
            <button id="check-availability">Check Availability</button>
        </div>
    </div>
</body>

<script>
    var pricePerNight = 0;
    const farmId = "{{ farm_id }}";
    var wallet_balance = 0.0;
    var totalPrice = 0;
    var user = '';

    function load() {
        const userEmail = localStorage.getItem('user');
        if (!userEmail) {
            window.location.href = '/';
        }

        //const farmId = "{{ farm_id }}";

        if (farmId) {
            fetch(`http://localhost:5001/farm/${farmId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    pricePerNight = data.price;
                    displayFarmDetails(data);
                })
                .catch(error => {
                    console.error('Error fetching farm details:', error);
                });
        }
    }

    function displayFarmDetails(farmData) {
        var farmDetailsContainer = document.getElementById('farm-details');

        var detailsHTML = `
                <h2>${farmData.name}</h2>
                <p><b>Area:</b> ${farmData.area}</p>
                <p><b>Contact:</b> ${farmData.contact}</p>
                <p><b>Description:</b> ${farmData.description}</p>
                <p><b>Price:</b> ₹${farmData.price}/night</p>
                <p><b>Owner:</b> ${farmData.owner}</p>
                <p><b>Location:</b> ${farmData.location}</p>
            `;
        farmDetailsContainer.innerHTML = detailsHTML;
    }

    function calculateTotalPrice(startDate, endDate) {
        const start = new Date(startDate);
        const end = new Date(endDate);
        const diffTime = Math.abs(end - start);
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
        //console.log(diffDays * pricePerNight);
        totalPrice = diffDays * pricePerNight;
        return diffDays * pricePerNight;
    }

    document.getElementById('start-date').addEventListener('change', updateTotalPrice);
    document.getElementById('end-date').addEventListener('change', updateTotalPrice);

    function updateTotalPrice() {
        const startDate = document.getElementById('start-date').value;
        const endDate = document.getElementById('end-date').value;
        if (!startDate || !endDate) {
            return;
        }
        const totalPrice = calculateTotalPrice(startDate, endDate, pricePerNight);
        document.getElementById('total-price').textContent = `₹${totalPrice}`;
    }

    document.getElementById('check-availability').addEventListener('click', checkAvailability);

    function checkAvailability() {
        const availabilityButton = document.getElementById('check-availability');
        if (availabilityButton.textContent === 'Book') {
            bookFarm();
            return;
        }
        const startDate = document.getElementById('start-date').value;
        const endDate = document.getElementById('end-date').value;
        const farmId = "{{ farm_id }}"; // Assuming farm_id is available in the template

        if (!startDate || !endDate) {
            alert('Please select start and end dates to check availability');
            return;
        }

        /*
        const requestData = {
            start_date: startDate,
            end_date: endDate,
            farm_id: farmId
        };

        fetch('http://localhost:5001/farm/check_availability', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        }).then(data => {
            const availabilityButton = document.getElementById('check-availability');
            if (data.available) {
                availabilityButton.textContent = 'Available to book';
                // Enable booking functionality if needed
            } else {
                availabilityButton.textContent = 'Not available';
            }
            availabilityButton.disabled = true;
        })
            .catch(error => {
                console.error('Error checking availability:', error);
            });
            */
        availabilityButton.textContent = 'Book';
    }

    function bookFarm() {
        user = localStorage.getItem('user');
        fetch(`http://localhost:5004/user/profile?id=${user}`)
            .then(user => {
                wallet_balance = user.wallet_balance;
            })
            .catch(error => {
                console.error('Error fetching user profile:', error);
            });

        /*
        const startDate = document.getElementById('start-date').value;
        const endDate = document.getElementById('end-date').value;
        const farmId = "{{ farm_id }}"; 
        const user = localStorage.getItem('user');

        if (!startDate || !endDate) {
            alert('Please select start and end dates to book');
            return;
        }

        const requestData = {
            start_date: startDate,
            end_date: endDate,
            farm_id: farmId,
            user: user
        };

        fetch('http://localhost:5001/farm/book', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        }).then(data => {
            alert('Farm booked successfully');
            window.location.href = '/bookings';
        })
            .catch(error => {
                console.error('Error booking farm:', error);
            });
        */
        //console.log(wallet_balance);

        if (wallet_balance < totalPrice) {
            alert('Insufficient balance');
            window.location.href = '/topup';
        }
        else {
            fetch('http://localhost:5002/pay/wallet', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id: user,
                    total_price: totalPrice
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status === 'success') {
                        alert('Payment successful using wallet');
                        window.location.href = '/bookings';
                    } else {
                        alert(data.message);
                        //window.location.href = '/topup';
                    }
                })
                .catch(error => {
                    console.error('Error paying using wallet:', error);
                    alert('Error occurred while processing payment');
                });
        }
    }

</script>

</html>