<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form id="registrationForm" action="/register" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>

    <script>
        randomId = function() {
            return Math.random().toString(36).substr(2, 9);
        };

        const BASE_URL = "http://127.0.0.1:5000"

        document.getElementById("registrationForm").addEventListener("submit", function(event) {
            event.preventDefault(); 
            
            var formData = {
            username: document.getElementById("username").value,
            email: document.getElementById("email").value,
            password: document.getElementById("password").value,
            wallet_balance: 0.0,
            id: randomId()
            };
            //console.log(JSON.stringify(formData));

            fetch(BASE_URL + '/user/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(data => {
                //console.log(data);
                if(data.ok) {
                    alert('Registration successful!');
                    window.location.href = '/';
                }
                else {
                    data.json().then(response => {
                        alert('Error: ' + response.message);
                        
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error: ' + error.message);
            });
        });

    </script>
</body>
</html>
